spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    default-property-inclusion: non_null
  datasource:
    url: jdbc:h2:mem:mydb
    #    url: jdbc:h2:file:/data/demo
    username: sa
    password: password
    driverClassName: org.h2.Driver
    jpa:
      spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
#      hibernate:
#        ddl-auto: none
#  h2:
#    console.enabled: true

logging:
  level:
    lt:
      techin: DEBUG
    org:
      springframework: INFO
#        jdbc:
#          core:
#            JdbcTemplate: INFO
#            StatementCreatorUtils: INFO
      hibernate:
        SQL: INFO
      type:
        descriptor:
          sql:
            BasicBinder: INFO
